<%- include('partials/main') %>

<link rel="stylesheet" href="bloques.css">

<section class="bloques-background">
<% for(var i = 0; i < bloques.length; i++) {%>
    <div class="bloques">
        <div class="bloques-description">
            <div class="bloques-imagen">
                <img id="photo" src="<%= bloques[i].data.img%>" >
            </div>

            <div class="bloques-texto">
                <h1><%= bloques[i].data.title %></h1>
                <p><%= bloques[i].data.description %></p>
                <a href="/viewCard/<%= bloques[i].id %>">Ampliar información</a>
            </div>
        </div>
    </div>
    
    
<%}%>
</section>